.birthdayhead{
  margin-top: 15px;
  /* margin-left: 55%; */
  color: #091351;
  font-weight:600 ;
  font-size: large;
  /* text-decoration-line: underline; */
  /* text-decoration-thickness: 3px; */
  /* text-decoration-color: rgb(233, 25, 133); */
  text-align: left;
  
}

.birthdays{
  display: flex;
  flex-direction: column;
  /* margin-left: 200px; */
  margin-top: 20px;
  background-color: #fff;
  border-radius: 5px;
  height: 400px;
  /* width: 33%; */
  /* text-align:center; */
  /* contain: content; */
  padding: 15px;
  margin-bottom: 50px;
}



.birthdayh{
  text-align: center;
  color: blue;
  margin-top: 0px;
}

.image-container {
  text-align: center; /* Center the image horizontally */
}

.image-container img {
  display: block; /* Makes the image a block-level element */
  margin: auto; /* Centers the block-level element (the image) within its parent container */
}

.BBB p{
  line-height: 1em;
}

.chat-input{
  position: relative;
  top: 0%;
}
.chat-inputt {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
 
  /* width: 100%; */
}


.send-button {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #6b71b2;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  float: right;
  width: 70px;
  margin-top: 10px;
}

.send-button:hover {
  background-color: #0056b3;
}



