.Date{
  background-color: #091351;
  /* justify-content: left; */
  text-align: justify;
  justify-content: space-around;
  padding: 15px;
  border-radius: 3px;
  height: 180px;
  width: 320px;
  border-radius: 5px;
  
}
div.moti{
  text-overflow:ellipsis;
  white-space: nowrap; 
  /* width: 50px;  */
  overflow: hidden;
}

@media screen and (max-width: 404px){
  .Date{
    /* position: relative; */
    width: 320px;
  }
  
}