


.values{
  /* position: relative; */
  overflow: hidden;
  display: flex;
  /* margin-left: 970px; */
  margin-top: 10px;
  background-color: white;
  border:2px solid #f54952;
  border-radius: 6px;
  height: 60px;
  /* text-decoration: none; */
  width: 320px;
  /* margin-bottom: 200px; */
  text-align: center;
  padding: 5px;
}

.Values-logo{
  background-color: #f54952;
  color: white;
  padding: 0.9px;
  width: 60px;
  border-radius: 4px;
}


div .values-h3{
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}