.vision{
  /* position: relative; */
  display: flex;
  /* margin-left: 970px; */
  margin-top: 10px;
  background-color: #ffffff;
  border:2px solid #313b99;
  border-radius: 6px;
  height: 60px;
  /* text-decoration: none; */
  width: 320px;
  /* margin-bottom: 200px; */
  text-align: center;
  padding: 5px;
}

.Vision-logo{
  background-color: #313b99;
  color: white;
  padding: 0.9px;
  width: 60px;
  border-radius: 4px;

}


div .vision-h3{
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}
